---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Software Developer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta property="og:title" content="João Vitor" />
    <meta property="og:description" content="Software Developer" />
    <meta property="og:image" content="https://jvitor.tech/og.image.png" />
    <meta property="og:url" content="https://jvitor.tech" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="João Vitor Portfolio" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      />
    </noscript>

    <title>{title}</title>
  </head>
  <body class="bg-[--background] md:px-48 lg:px-20 px-9">
    <slot />
    <div id="projectModal" class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center z-50 hidden">
      <div class="bg-[#1a1a1a] rounded-lg shadow-xl p-6 m-4 max-w-lg w-full border border-[#ffffff10]">
        <div class="flex justify-between items-center mb-4">
          <h4 id="modalTitle" class="text-2xl font-semibold text-[var(--white)]"></h4>
          <button onclick="closeModal()" class="text-[var(--white-icon)] hover:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div id="modalDetails" class="text-[var(--white-icon)] text-sm">
        </div>
      </div>
    </div>
  </body>
  <script>
    const modal = document.querySelector('#projectModal') as HTMLElement | null;
    const modalTitle = document.querySelector('#modalTitle') as HTMLElement | null;
    const modalDetails = document.querySelector('#modalDetails') as HTMLElement | null;

    function openModal(buttonElement: HTMLElement) {
      const title = buttonElement.getAttribute('data-project-title');
      const details = buttonElement.getAttribute('data-project-details');

      if (modalTitle && modalDetails) {
        modalTitle.textContent = title;
        modalDetails.textContent = details;
      }

      if (modal) {
        modal.classList.remove('hidden');
        modal.style.display = 'flex';

        modal.addEventListener('click', handleModalClick);
      }
    }

    function closeModal() {
      if (modal) {
        modal.classList.add('hidden');
        modal.style.display = 'none';

        modal.removeEventListener('click', handleModalClick);
      }
    }

    function handleModalClick(event: MouseEvent) {
      if (modal && event.target === modal) {
        closeModal();
      }
    }

    (window as any).openModal = openModal;
    (window as any).closeModal = closeModal;
  </script>
</html>

<style is:global>
  :root {
    --background: #101010;
    --sec: #a476ff;
    --white: #dfdfdf;
    --white-icon: #f3f3f398;
    --white-icon-tr: #f3f3f310;
  }

  * {
    font-family:
      "montserrat",
      -apple-system,
      system-ui,
      sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  *::selection {
    background-color: var(--sec);
    color: var(--background);
  }

  /* Scrollbar styles */

  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background: var(--container);
    border-radius: 30px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--background);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--pink);
  }

  /* Scrollbar styles for Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--line) var(--container);
  }

  #projectModal {
    display: none;
  }
</style>
